*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: #D5C4A1;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #282828;
}

a {
    font-style: italic;
}

.center-text {
    text-align: center;
}

.goback {
    text-align: center;
    border: 2px solid #D5C4A1 ;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
