*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid #ff000060; */
}

* {
    color: #D5C4A1;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #282828;
    max-width: 800px;
    margin: 30px auto;
}

a {
    font-style: italic;
}

img {
    display: block;
    align-content: center;
    margin: 10px auto;
    border-radius: 10%;
}

.article {
    background-color: #303030;
    padding: 10px 20px;
    border-radius: 10px;
}

.goback {
    text-align: center;
    border: 1.5px solid #D5C4A1 ;
    border-radius: 8px;
    padding: 10px;
    max-width: 250px;
    margin: 10px auto 0px auto;
}

.random-highlight,
.random-highlight-link {
    background-color: #e6945c;
    color: #282828;
    font-style: normal;
}